* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('components/styles/picture/blackjackback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Lexend Exa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


